*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    background-color:hsl(225, 100%, 98%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.img_background{
    background-image: url(images/pattern-background-mobile.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    
}

.container{
    /* border: 2px solid black; */
    margin: 20px;
    width: 300px;
    background: white;
    border-radius: 15px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
    box-shadow: 2px 2px 5px hsl(225, 100%, 94%);
   
}

.container .hero{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container h1{
    font-size: 20px;
    font-weight: 900;
    margin:20px 0px;
}

.container .text{
    width: 90%;
    line-height: 1.5;
    color: hsl(224, 23%, 55%);
    margin: auto;
}

.container .pricing{
    width: 95%;
    margin: 10px auto;
    display: flex;
    align-items: center;
    background: hsl(225, 100%, 98%);
    border-radius: 10px;
    justify-content: space-around;
    padding: 10px 0px;
}

.container .pricing img{
    margin-right: 10px;
}

.container .pricing .change{
    border: none;
    background: transparent;
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-family: inherit;
}

.container .pricing .change:hover{
    cursor: pointer;
    color: hsl(245, 75%, 52%, 0.5);
    text-decoration: none;
}

.container .buttons{
    margin: 10px 0px;
}

.container .buttons .payment_btn{
    padding: 10px 0px;
    width: 95%;
    border: none;
    background: hsl(245, 75%, 52%);
    color: white;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 10px;
    font-family: inherit;

}

.container .buttons .payment_btn:hover{
    cursor: pointer;
    background: hsl(245, 75%, 52%, 0.7);
}

.container .buttons .cancel_btn{
    margin: 15px 0px;
    border: none;
    color: hsl(245, 75%, 52%);
    background: transparent;
    font-family: inherit;

}

.container .buttons .cancel_btn:hover{
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}


@media only screen and (min-width:375px){
    

    .img_background{
       background-image: url(/images/pattern-background-desktop.svg);
       height: 70%;
    } 


}

.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

